*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--black);
}
tahanan-topbar {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    background: var(--black);
    width: 100vw;
    height: 60px;
}

.topbar-inner > img {
    padding: 5px;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    --white: #f4efe6;
    --black: #2f2f2f;
    --brown: #8b4513;
    --blue: #3e91a3;
    --green: #6bae75ff;
    --coral: #ff7860;
    --yellow: #f6c844;
    background-color: var(--white);
}
.content {
    margin: 20px 20px 20px 20px;
}
html {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: var(--black);
    font-family: "Objektiv";
}

.topbar-inner {
    display: flex;
    height: 50px;
    position: relative;
    top: 0px;
    background: var(--white);
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
}

@font-face {
    font-family: "Batangas";
    src: url(Batangas\ Bold\ 700.otf);
}

@font-face {
    font-family: "Objektiv";
    src: url(Objektiv-regular.otf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Batangas";
    font-weight: 400;
    color: var(--black);
    letter-spacing: 0em;
}

h1 {
    font-family: "Batangas";
    font-weight: 700;
    color: var(--black);
    align-self: center;
    max-width: calc(50vw - 100px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    font-family: "Batangas", sans-serif;
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

.ribbon {
    width: 100%;
    height: 50%;
}
tahanan-topbar {
    position: sticky;
    top: 0;
}
